* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sen", sans-serif;
}

.container {
  max-width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.extension {
  width: 350px;
  padding: 8px;
  border-radius: 8px;
  background-color: #f0f2f5;
}

.tool {
  width: 100%;
  flex: 1 0 auto;
  padding: 0 24px 0 8px;
}

.center, .btn--action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-small {
  margin-bottom: 8px;
}

.mb-md {
  margin-bottom: 16px;
}

.mb-lg {
  margin-bottom: 24px;
}

.btn {
  cursor: pointer;
}
.btn--main {
  background-color: #339af0;
  color: #e7f5ff;
  border: none;
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 16px rgba(51, 154, 240, 0.4);
  transition: all 0.3s;
}
.btn--main:hover {
  background-color: #1c7ed6;
}
.btn--action {
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  color: hsl(207deg, 5%, 45%);
  transition: all 0.3s;
}
.btn--action:hover {
  background-color: #ced4da;
}
.btn--tertiary {
  background-color: transparent;
  border: none;
  color: #fa5252;
  font-size: 1.6rem;
  font-weight: 600;
}

.nav {
  list-style: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav--main {
  padding: 8px;
  margin-bottom: 16px;
  font-size: 18px;
}
.nav--main,
.nav--main .nav-indicator {
  border-radius: 8px;
}
.nav--main .nav-item-link {
  padding: 4px 18px;
}
.nav--secondary {
  padding: 6px 4px;
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 600;
}
.nav--secondary,
.nav--secondary .nav-indicator {
  border-radius: 6px;
}
.nav--secondary .nav-item-link {
  padding: 3px 14px;
}
.nav--secondary .nav-item-link span {
  position: relative;
  top: -2px;
}
.nav-item {
  margin-bottom: -4px;
  z-index: 2;
  color: hsl(207deg, 5%, 45%);
  cursor: pointer;
  transition: all 0.3s;
}
.nav-item--active {
  color: #212529;
}
.nav-item-link {
  display: inline-block;
}
.nav-item-link:link, .nav-item-link:visited {
  text-decoration: none;
  color: currentColor;
}
.nav-indicator {
  background-color: #efefef;
  transition: left 0.3s ease-in-out, width 0.4s, height 0.4s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.color-code {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
}
.color-code-type {
  font-size: 1.6rem;
  font-weight: 600;
  color: hsl(207deg, 5%, 45%);
}
.color-code-value {
  font-size: 1.6rem;
  font-weight: 600;
  color: #212529;
}
.color-code-btn {
  margin-left: auto;
}

.divider {
  display: inline-block;
  width: 1.5px;
  height: 20px;
  background-color: #dee2e6;
  border-radius: 100;
}

.colors {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, 32px);
  gap: 8px;
}
.colors .color {
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
.colors .color .color-box {
  border-radius: 10px;
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  z-index: 2;
}
.colors .color .color-box--active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.colors .color .color-box--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 40%;
  z-index: 100;
}
.colors .color::after {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-image: url(../assets/img/transparent-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.tools {
  width: 350px;
  display: flex;
  overflow: scroll;
  gap: 8px;
}
.tools::-webkit-scrollbar {
  display: none;
}

.tool-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tool-heading {
  font-size: 24px;
  color: #212529;
  font-weight: 700;
}

.heading-secondary {
  font-size: 18px;
  color: #495057;
}

.picker {
  text-align: center;
  margin-bottom: 16px;
}

/*# sourceMappingURL=style.css.map */
