@import "./abstract/abstract";
@import "./base/base";
@import "./components/components";
@import "./layouts/layouts";
@import "./pages/pages";

.tool-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tool-heading {
  font-size: 24px;
  color: #212529;
  font-weight: 700;
}

.heading-secondary {
  font-size: 18px;
  color: #495057;
  margin-bottom: 12px;
}

.picker {
  text-align: center;
  margin-bottom: 16px;
}
