.tool-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tool-heading {
  font-size: 24px;
  color: #212529;
  font-weight: 700;
}

.tool-btn {
  background-color: #339af0;
  color: #e9f5ff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}

.tool-btn:hover {
  background-color: #1c7ed6;
}

.heading-secondary {
  font-size: 18px;
  color: #495057;
  margin-bottom: 12px;
}

.colors {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #1c7ed6;
  cursor: copy;
}

.picker {
  text-align: center;
  margin-bottom: 16px;
}
