$color-main: #339af0;
$color-main-dark: #1c7ed6;
$color-main-white: #e7f5ff;

$color-accent: #fa5252;

$color-gray-dark: #212529;
$color-gray: hsl(207, 5%, 45%);
$color-gray-light: #efefef;
$color-white: #fff;
