.color-code {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  background-color: $color-white;
  padding: 8px;
  border-radius: 8px;

  &-type {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-gray;
  }

  &-value {
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-gray-dark;
  }

  &-btn {
    margin-left: auto;
  }
}

.divider {
  display: inline-block;
  width: 1.5px;
  height: 20px;
  background-color: #dee2e6;
  border-radius: 100;
}
